.red {
    color: red;
}

.bold {
    font-weight: bold;
}

/* Цвета для списка */
.color1 { color: blue; }
.color2 { color: green; }
.color3 { color: purple; }
.color4 { color: orange; }

/* Размеры шрифта */
.xxsmall { font-size: xx-small; }
.xsmall { font-size: x-small; }
.small { font-size: small; }
.medium { font-size: medium; }
.large { font-size: large; }
.xlarge { font-size: x-large; }
.xxlarge { font-size: xx-large; }
